openapi: 3.0.3
info:
  title: DigiShield (Digital Shield) API
  version: 1.0.0
  description: >
    Platform API for prevention, training & alerting against online scams in cyberspace.
    Multi-tenant, RBAC, scoped by org_id in the JWT. Errors follow RFC 7807.
  contact:
    name: DigiShield Engineering
servers:
  - url: https://api.digishield.vn/api/v1
    description: Production
  - url: https://staging-api.digishield.vn/api/v1
    description: Staging

security:
  - bearerAuth: []

tags:
  - name: Auth
  - name: Users
  - name: Groups
  - name: Learning
  - name: Simulation
  - name: Reports
  - name: Alerts
  - name: Blacklist
  - name: Analytics
  - name: AI
  - name: Gamification
  - name: Assessment
  - name: Certificate
  - name: Provisioning
  - name: Notification
  - name: ThreatFlip
  - name: Coaching
  - name: Compliance
  - name: Interception
  - name: Watchlist
  - name: Tenancy
  - name: Billing

paths:
  /auth/login:
    post:
      tags: [Auth]
      summary: Internal login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenPair' }
        '401': { $ref: '#/components/responses/Problem' }

  /auth/profile:
    get:
      tags: [Auth]
      summary: Current user's editable profile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Profile' }
    patch:
      tags: [Auth]
      summary: Update the current user's profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                locale: { type: string, example: vi }
                email: { type: string, format: email }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Profile' }

  /lessons/{id}/quiz:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    get:
      tags: [Learning]
      summary: Quiz attached to a lesson
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Quiz' }

  /lessons:
    get:
      tags: [Learning]
      summary: List lessons across the catalogue
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/LessonSummary' }
    post:
      tags: [Learning]
      summary: Create a lesson
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Lesson' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Lesson' }

  /lessons/{id}:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    get:
      tags: [Learning]
      summary: Lesson detail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Lesson' }
    put:
      tags: [Learning]
      summary: Replace a lesson
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Lesson' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Lesson' }
    delete:
      tags: [Learning]
      summary: Delete a lesson
      responses:
        '204': { description: Deleted }

  /auth/sso/callback:
    post:
      tags: [Auth]
      summary: SSO callback (SAML/OAuth)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [org, assertion]
              properties:
                org: { type: string }
                assertion: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenPair' }

  /auth/me:
    get:
      tags: [Auth]
      summary: Current signed-in principal
      description: >
        Resolves the caller from the bearer token. The tenant returned here is the
        one every later call is scoped to.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Me' }
        '401':
          description: No resolvable principal
  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenPair' }

  /auth/forgot-password:
    post:
      tags: [Auth]
      summary: Request password reset (send email link)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '202': { description: Email sent if the account exists }

  /auth/reset-password:
    post:
      tags: [Auth]
      summary: Reset password using token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, new_password]
              properties:
                token: { type: string, description: Token from email }
                new_password: { type: string, format: password }
      responses:
        '200': { description: Password changed successfully }
        '400': { $ref: '#/components/responses/Problem' }

  /auth/mfa/setup:
    post:
      tags: [Auth]
      summary: Initialize MFA (generate secret + QR for authenticator)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret: { type: string }
                  otpauth_url: { type: string }
                  qr_svg: { type: string }

  /auth/mfa/verify:
    post:
      tags: [Auth]
      summary: Confirm MFA activation with the first code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string }
      responses:
        '200':
          description: MFA enabled
          content:
            application/json:
              schema:
                type: object
                properties:
                  recovery_codes: { type: array, items: { type: string } }

  /auth/mfa/challenge:
    post:
      tags: [Auth]
      summary: Verify MFA code during login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mfa_token, code]
              properties:
                mfa_token: { type: string, description: Temporary token after the password step }
                code: { type: string }
                trust_device: { type: boolean, default: false }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenPair' }
        '401': { $ref: '#/components/responses/Problem' }

  /users:
    get:
      tags: [Users]
      summary: List users
      parameters:
        - { $ref: '#/components/parameters/Page' }
        - { $ref: '#/components/parameters/Size' }
        - in: query
          name: department_id
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/User' }
    post:
      tags: [Users]
      summary: Create user
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }

  /users/{id}:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    get:
      tags: [Users]
      summary: User details
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
    patch:
      tags: [Users]
      summary: Update user/role
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserInput' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
    delete:
      tags: [Users]
      summary: Remove a user and their sign-in account
      description: >-
        Deletes the user and the account they sign in with, so removing them
        from the list also removes their access. Refused when the target
        outranks the caller, or is the caller.
      responses:
        '204':
          description: Deleted
        '403':
          description: Target outranks the caller, or is the caller

  /groups:
    get:
      tags: [Groups]
      summary: List groups (including smart groups)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Group' }
    post:
      tags: [Groups]
      summary: Create group (rule_json for smart group)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Group' }
      responses:
        '201': { description: Created }

  /groups/{id}/evaluate:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    post:
      tags: [Groups]
      summary: Re-evaluate smart group members
      responses:
        '200':
          description: Member count after evaluation
          content:
            application/json:
              schema:
                type: object
                properties:
                  member_count: { type: integer }

  /groups/{id}:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    patch:
      tags: [Groups]
      summary: Update a group
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Group' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Group' }
    delete:
      tags: [Groups]
      summary: Delete a group
      responses:
        '204': { description: Deleted }

  /groups/{id}/members/{userId}:
    parameters:
      - { $ref: '#/components/parameters/Id' }
      - in: path
        name: userId
        required: true
        schema: { type: string, format: uuid }
    delete:
      tags: [Groups]
      summary: Remove a member from a group
      responses:
        '200':
          description: Member count after the change
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MemberCount' }

  /groups/{id}/members:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    get:
      tags: [Groups]
      summary: Member ids of a group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { type: string, format: uuid }
    post:
      tags: [Groups]
      summary: Add a member to a group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id: { type: string, format: uuid }
      responses:
        '200':
          description: Member count after the change
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MemberCount' }

  /courses:
    get:
      tags: [Learning]
      summary: Course library
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Course' }
    post:
      tags: [Learning]
      summary: Create a course
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Course' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Course' }

  /courses/{id}:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    put:
      tags: [Learning]
      summary: Replace a course
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Course' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Course' }
    delete:
      tags: [Learning]
      summary: Delete a course
      responses:
        '204': { description: Deleted }

  /enrollments:
    get:
      tags: [Learning]
      summary: List enrollments
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [assigned, in_progress, completed, overdue] }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Enrollment' }
    post:
      tags: [Learning]
      summary: Enroll user in a course
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId, courseId]
              properties:
                userId: { type: string, format: uuid }
                courseId: { type: string, format: uuid }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Enrollment' }

  /enrollments/{id}:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    patch:
      tags: [Learning]
      summary: Update enrollment progress
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                progress: { type: integer, minimum: 0, maximum: 100 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Enrollment' }

  /sim/campaigns:
    get:
      tags: [Simulation]
      summary: List simulation campaigns
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/SimCampaign' }
    post:
      tags: [Simulation]
      summary: Create simulation campaign
      parameters:
        - in: header
          name: Idempotency-Key
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SimCampaignInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SimCampaign' }

  /sim/campaigns/{id}:
    get:
      tags: [Simulation]
      summary: Campaign detail with funnel and per-recipient outcome
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SimCampaignDetail' }
        '404':
          description: Not found

  /sim/campaigns/{id}/send:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    post:
      tags: [Simulation]
      summary: Send a campaign to selected recipients
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userIds]
              properties:
                userIds:
                  type: array
                  items: { type: string, format: uuid }
      responses:
        '200':
          description: Per-recipient tracking tokens
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SendResult' }
  /sim/track/{token}:
    get:
      tags: [Simulation]
      summary: Beacon endpoint for a simulated lure
      description: >
        Opened by the recipient, not by the application. Records the interaction and
        returns a coaching page. Responds with HTML, not JSON, and is deliberately
        unauthenticated - the token is the credential.
      security: []
      parameters:
        - in: path
          name: token
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Coaching page
          content:
            text/html:
              schema: { type: string }

  /qr:
    get:
      tags: [Simulation]
      summary: Render a QR code as SVG
      description: >-
        Public by design: a QR lure is photographed off a poster, so the image
        must render before the viewer has any session.
      security: []
      parameters:
        - in: query
          name: data
          required: true
          schema: { type: string }
        - in: query
          name: size
          schema: { type: integer, default: 220 }
        - in: query
          name: quiet
          schema: { type: integer, default: 2 }
      responses:
        '200':
          description: SVG image
          content:
            image/svg+xml:
              schema: { type: string }
  /sim/events:
    post:
      tags: [Simulation]
      summary: Record simulation event (tracking)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SimEvent' }
      responses:
        '202': { description: Accepted }

  /reports/phishing:
    post:
      tags: [Reports]
      summary: User submits a suspicious email/SMS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payload]
              properties:
                userId: { type: string, format: uuid }
                payload: { type: string, description: Email content/headers/link }
                channel: { type: string, enum: [email, sms] }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Report' }
    get:
      tags: [Reports]
      summary: Report queue (Analyst)
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [submitted, triaging, confirmed, quarantined, dismissed] }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Report' }

  /reports/phishing/mine/{userId}:
    parameters:
      - in: path
        name: userId
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Reports]
      summary: Reports submitted by one learner
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/UserReport' }

  /reports/phishing/{id}/triage:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    post:
      tags: [Reports]
      summary: Analyst triages / processes a report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision:
                  type: string
                  enum: [confirm_threat, quarantine, dismiss]
                  description: >-
                    quarantine records a threat the analyst is holding: the
                    report is labelled THREAT but no confirmation event is
                    emitted, so the reporter is rewarded once, when the verdict
                    becomes final. An unknown value is rejected with 400.
                add_to_blacklist:
                  type: boolean
                  default: false
                  description: >-
                    Also block the reported sender (as an EMAIL indicator).
                    Rejected with 400 alongside dismiss, and rejected when the
                    report carries no sender, so a block is never reported as
                    done when nothing was blocked. Re-triaging the same sender
                    does not create a duplicate entry.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Report' }

  /alerts/broadcast:
    post:
      tags: [Alerts]
      summary: Broadcast alert to the entire organization (WebSocket push)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [severity, message]
              properties:
                severity: { type: string, enum: [info, warning, critical] }
                message: { type: string }
      responses:
        '202': { description: Accepted }

  /blacklist:
    get:
      tags: [Blacklist]
      summary: List blacklist
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/BlacklistEntry' }
    post:
      tags: [Blacklist]
      summary: Add/sync blacklist (NCSC)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BlacklistEntryInput' }
      responses:
        '201': { description: Created }

  /blacklist/{id}:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    delete:
      tags: [Blacklist]
      summary: Remove a blacklist entry
      responses:
        '204': { description: Deleted }

  /analytics/risk:
    get:
      tags: [Analytics]
      summary: Risk score by scope
      parameters:
        - in: query
          name: scope
          schema: { type: string, enum: [user, dept, org] }
        - in: query
          name: scope_id
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RiskScore' }

  /analytics/dashboard:
    get:
      tags: [Analytics]
      summary: Aggregated dashboard payload
      description: >
        KPIs, 90-day trend, departments and recent reports in one call, so the
        dashboard does not need to fan out.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Dashboard' }
  /analytics/benchmark:
    get:
      tags: [Analytics]
      summary: Benchmark phish-prone rate against the industry
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  org_phish_prone_pct: { type: number }
                  industry_avg_pct: { type: number }

  /ai/templates/generate:
    post:
      tags: [AI]
      summary: AI generates a simulated phishing template (pending approval)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [channel, industry]
              properties:
                channel: { type: string, enum: [email, sms] }
                industry: { type: string, example: banking }
                season: { type: string, example: summer }
      responses:
        '200':
          description: Template draft
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SimTemplate' }

  /ai/templates:
    get:
      tags: [AI]
      summary: List simulation templates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/SimTemplate' }
    post:
      tags: [AI]
      summary: Create a simulation template (draft)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SimTemplateUpsert' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SimTemplate' }

  /ai/templates/{id}/submit:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    post:
      tags: [AI]
      summary: Submit a template for approval
      description: >-
        Moves the template out of draft so a reviewer other than its author can
        approve it (business rule BR-4).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SimTemplate' }

  /ai/templates/{id}:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    patch:
      tags: [AI]
      summary: Update a simulation template
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SimTemplateUpsert' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SimTemplate' }
    delete:
      tags: [AI]
      summary: Delete a simulation template
      responses:
        '204': { description: Deleted }

  /ai/classify:
    post:
      tags: [AI]
      summary: AI classifies a reported email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payload]
              properties:
                payload: { type: string }
      responses:
        '200':
          description: Classification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  label: { type: string, enum: [clean, spam, threat] }
                  confidence: { type: number, format: float }
                  reason: { type: string }

  /tenants:
    get:
      tags: [Tenancy]
      summary: List tenants (Super Admin)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Tenant' }
    post:
      tags: [Tenancy]
      summary: Create a new tenant, and its first administrator
      description: >-
        Users are always created in the caller's own tenant, so adminEmail is the
        only moment an account can be placed inside the new one. Omit it and the
        organisation exists with nobody able to sign in. Provisioning the admin
        happens in the same transaction: if it fails, the tenant is not created.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                tier:
                  type: string
                  enum: [pool, bridge, silo]
                dataRegion:
                  type: string
                adminEmail:
                  type: string
                  format: email
                  description: first administrator; receives the invitation email
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Tenant' }

  /tenants/{id}/impersonate:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    post:
      tags: [Tenancy]
      summary: Enter a tenant as a platform operator
      description: >-
        Writes the entry into that tenant's own audit log, so impersonation
        leaves a trace the customer can see (business rule BR-6).
      responses:
        '204': { description: Recorded }

  /tenants/{id}/thresholds:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    get:
      tags: [Tenancy]
      summary: Business thresholds of a tenant
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BusinessThresholds' }
    patch:
      tags: [Tenancy]
      summary: Update business thresholds
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BusinessThresholds' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BusinessThresholds' }

  /tenants/{id}:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    get:
      tags: [Tenancy]
      summary: Tenant details
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Tenant' }
    patch:
      tags: [Tenancy]
      summary: Update tenant (tier, status, data region)
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TenantUpdate' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Tenant' }

  /tenants/{id}/settings:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    get:
      tags: [Tenancy]
      summary: Tenant configuration (branding, policy, language)
      description: >-
        A tenant with no identity provider connected still answers 200, with
        connected=false and syncStatus=never. 404 means the tenant itself does
        not exist.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ScimConfig' }
        '404':
          description: No such tenant
    patch:
      tags: [Tenancy]
      summary: Update tenant configuration
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TenantSettings' }
      responses:
        '200': { description: OK }

  /settings/mail-domain/verify:
    get:
      tags: [Tenancy]
      summary: Check MX, SPF and DMARC of a sending domain
      parameters:
        - in: query
          name: domain
          required: true
          schema: { type: string, example: digishield.vn }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MailDomainCheck' }

  /super/scim:
    get:
      tags: [Provisioning]
      summary: SCIM configuration seen by platform operators
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ScimConfig' }

  /tenants/{id}/feature-flags:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    get:
      tags: [Tenancy]
      summary: List tenant feature flags
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/FeatureFlag' }
    patch:
      tags: [Tenancy]
      summary: Enable/disable feature flag
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FeatureFlag' }
      responses:
        '200': { description: OK }

  /tenants/{id}/usage:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    get:
      tags: [Billing]
      summary: Tenant usage metering data
      parameters:
        - in: query
          name: period
          schema: { type: string, example: 2026-06 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/UsageMetering' }

  /tenants/{id}/subscription:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    get:
      tags: [Billing]
      summary: Tenant's current subscription
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }
    put:
      tags: [Billing]
      summary: Change subscription plan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [plan_id]
              properties:
                plan_id: { type: string, format: uuid }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }

  /audit:
    get:
      tags: [Tenancy]
      summary: Audit log of the current tenant
      description: Also served at /super/audit for platform operators.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AuditLogEntry' }
        '403':
          description: Requires ORG_ADMIN or above

  /super/audit:
    get:
      tags: [Tenancy]
      summary: Audit log for platform operators
      description: Same handler as /audit; separate path for the Super Admin console.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AuditLogEntry' }
  /plans:
    get:
      tags: [Billing]
      summary: List service plans
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Plan' }

  /gamification/leaderboard:
    get:
      tags: [Gamification]
      summary: Leaderboard
      parameters:
        - in: query
          name: scope
          schema: { type: string, enum: [org, department], default: org }
        - in: query
          name: period
          schema: { type: string, example: month }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    rank: { type: integer }
                    name: { type: string }
                    points: { type: integer }

  /gamification/point-rules:
    get:
      tags: [Gamification]
      summary: Point rules in force
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/PointRule' }

  /gamification/badges/{id}:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    delete:
      tags: [Gamification]
      summary: Delete a badge definition
      responses:
        '204': { description: Deleted }

  /gamification/badges:
    get:
      tags: [Gamification]
      summary: Badge catalogue
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/BadgeCatalog' }
    post:
      tags: [Gamification]
      summary: Create a badge definition
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BadgeCatalog' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BadgeCatalog' }

  /users/{id}/suspension:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    post:
      tags: [Users]
      summary: Lock a user out, or let them back in
      description: >-
        Suspending disables the sign-in account and ends its sessions, so it
        takes effect immediately rather than at the next token. There is no
        self-service way back: a suspended person cannot reach the training they
        may have been suspended over, so restoring here is the only exit.
        Refused when the target outranks the caller, or is the caller.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                suspended:
                  type: boolean
                  default: true
                  description: true to lock the account, false to restore it
                reason:
                  type: string
                  description: short note recorded on the audit entry
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '403':
          description: Target outranks the caller, or is the caller

  /users/{id}/badges:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    get:
      tags: [Gamification]
      summary: User's badges
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Badge' }

  /users/{id}/points:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    get:
      tags: [Gamification]
      summary: Accumulated points (points ledger)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  total: { type: integer }
                  entries:
                    type: array
                    items: { $ref: '#/components/schemas/PointsEntry' }

  /assessments:
    get:
      tags: [Assessment]
      summary: List assessments
      parameters:
        - in: query
          name: type
          schema: { type: string, enum: [knowledge, culture, placement] }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Assessment' }
    post:
      tags: [Assessment]
      summary: Create assessment (knowledge/culture/placement)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Assessment' }
      responses:
        '201': { description: Created }

  /assessments/{id}/responses:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    post:
      tags: [Assessment]
      summary: Submit assessment response (supports anonymous)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [answers]
              properties:
                answers:
                  type: object
                  description: questionId -> index of the selected option
                  additionalProperties: { type: integer }
      responses:
        '202': { description: Accepted }

  /assessments/{id}/results:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    get:
      tags: [Assessment]
      summary: Aggregated results (anonymized)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  response_count: { type: integer }
                  summary: { type: object }

  /assessments/placement:
    post:
      tags: [Assessment]
      summary: Adaptive placement assessment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, answers]
              properties:
                user_id: { type: string, format: uuid }
                answers: { type: object }
      responses:
        '200':
          description: Recommended level
          content:
            application/json:
              schema:
                type: object
                properties:
                  level: { type: string, enum: [basic, beginner, intermediate, advanced] }

  /users/{id}/certificates:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    get:
      tags: [Certificate]
      summary: List certificates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Certificate' }

  /certificates/{id}:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    get:
      tags: [Certificate]
      summary: Download certificate (PDF)
      responses:
        '200':
          description: OK
          content:
            application/pdf:
              schema: { type: string, format: binary }

  /users/import:
    post:
      tags: [Provisioning]
      summary: Bulk import users (CSV/JSON)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                users:
                  type: array
                  items: { $ref: '#/components/schemas/UserInput' }
          text/csv:
            schema: { type: string }
      responses:
        '202':
          description: Accepted (asynchronous processing)
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id: { type: string }
                  accepted: { type: integer }

  /scim/v2/Users:
    get:
      tags: [Provisioning]
      summary: SCIM 2.0 - list users (IdP sync)
      responses:
        '200': { description: OK }
    post:
      tags: [Provisioning]
      summary: SCIM 2.0 - create user
      responses:
        '201': { description: Created }

  /notifications:
    get:
      tags: [Notification]
      summary: List user's notifications
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Notification' }
    post:
      tags: [Notification]
      summary: Create notification
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NotificationInput' }
      responses:
        '201': { description: Created }

  /notifications/read-all:
    post:
      tags: [Notification]
      summary: Mark every notification of the tenant as read
      responses:
        '200':
          description: Number of notifications updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  updated: { type: integer }

  /notifications/reminders:
    post:
      tags: [Notification]
      summary: Schedule mandatory training reminders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [target_filter, due_rule]
              properties:
                target_filter: { type: object }
                due_rule: { type: string, example: "before_due:3d" }
                channel: { type: string, enum: [in_app, email, sms] }
      responses:
        '202': { description: Accepted }

  /settings/sms/test:
    post:
      tags: [Notification]
      summary: Send a test SMS through the configured provider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone: { type: string, example: "+84901234567" }
                message: { type: string }
      responses:
        '200':
          description: Delivery outcome
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SmsTestResult' }

  /threat-intel:
    get:
      tags: [ThreatFlip]
      summary: List threat intel sources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ThreatIntel' }
    post:
      tags: [ThreatFlip]
      summary: Ingest threat intel (feed/NCSC)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ThreatIntel' }
      responses:
        '201': { description: Created }

  /threat-intel/{id}/convert:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    post:
      tags: [ThreatFlip]
      summary: Convert a real threat into a template/lesson (de-identified)
      responses:
        '201':
          description: Template + coaching page draft
          content:
            application/json:
              schema:
                type: object
                properties:
                  template_id: { type: string, format: uuid }
                  coaching_page_id: { type: string, format: uuid }

  /reports/phishing/{id}/convert-to-training:
    parameters:
      - { $ref: '#/components/parameters/Id' }
    post:
      tags: [ThreatFlip]
      summary: Flip a reported email into training content
      responses:
        '201': { description: Created }

  /ai/moderate:
    post:
      tags: [AI]
      summary: Safety moderation of AI-generated content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content: { type: string }
      responses:
        '200':
          description: Moderation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  verdict: { type: string, enum: [pass, flag, block] }
                  reasons: { type: array, items: { type: string } }

  /ai/orchestration/run:
    post:
      tags: [AI]
      summary: Run AIDA - recompute risk & auto-enroll
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scope: { type: string, enum: [org, department, user] }
                scope_id: { type: string, format: uuid }
      responses:
        '202': { description: Accepted }

  /ai/orchestration/runs:
    get:
      tags: [AI]
      summary: List orchestration runs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AidaRun' }

  /coaching-pages:
    get:
      tags: [Coaching]
      summary: List just-in-time coaching pages
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/CoachingPage' }
    post:
      tags: [Coaching]
      summary: Create/update coaching content
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CoachingPage' }
      responses:
        '201': { description: Created }

  /compliance/policies:
    get:
      tags: [Compliance]
      summary: Policies & compliance mapping
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/CompliancePolicy' }
    post:
      tags: [Compliance]
      summary: Create compliance policy (mandatory training)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CompliancePolicyInput' }
      responses:
        '201': { description: Created }

  /compliance/status:
    get:
      tags: [Compliance]
      summary: Compliance status by unit/individual
      parameters:
        - in: query
          name: scope
          schema: { type: string, enum: [org, department, user] }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  compliantPct: { type: number }
                  compliantCount: { type: integer }
                  totalCount: { type: integer }
                  overdueCount: { type: integer }
                  policyCount: { type: integer }
                  completedCount: { type: integer }
                  dueSoonCount: { type: integer }

  /interventions/evaluate:
    post:
      tags: [Interception]
      summary: Real-time risk assessment at the transaction point (active-call detection)
      description: >
        Returns an alert decision (allow/warn/pause/block) based on a combination of signals.
        DigiShield does NOT execute the transaction — it only returns a decision for the calling app to handle.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId, amount, destAccount]
              properties:
                userId: { type: string, format: uuid }
                amount: { type: number }
                destAccount: { type: string }
                onCall: { type: boolean, description: User is currently on a call }
                newPayee: { type: boolean, description: First-time payee }
      responses:
        '200':
          description: Intervention decision
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InterventionDecision' }

  /interventions:
    get:
      tags: [Interception]
      summary: Intervention log (SOC/reporting)
      parameters:
        - { $ref: '#/components/parameters/Page' }
        - { $ref: '#/components/parameters/Size' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/InterventionEvent' }

  /account-watchlist:
    get:
      tags: [Watchlist]
      summary: List suspicious recipient accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AccountWatchEntry' }
    post:
      tags: [Watchlist]
      summary: Add/sync suspicious accounts (SIMO/NAPAS/A05)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AccountWatchEntry' }
      responses:
        '201': { description: Created }

  /account-watchlist/check:
    get:
      tags: [Watchlist]
      summary: Quick lookup of account/phone number at the money-transfer point
      parameters:
        - in: query
          name: value
          required: true
          schema: { type: string }
        - in: query
          name: type
          schema: { type: string, enum: [bank_account, phone, wallet] }
      responses:
        '200':
          description: Lookup result
          content:
            application/json:
              schema:
                type: object
                properties:
                  inWatchlist: { type: boolean }
                  riskLevel:
                    type: string
                    enum: [WATCH, HIGH, CONFIRMED]
                    nullable: true
                    description: >-
                      The enum constant's own name, upper case. Null rather
                      than a "none" value when the account is not listed.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    Id:
      in: path
      name: id
      required: true
      schema: { type: string, format: uuid }
    Page:
      in: query
      name: page
      schema: { type: integer, default: 1, minimum: 1 }
    Size:
      in: query
      name: size
      schema: { type: integer, default: 20, maximum: 100 }

  responses:
    Problem:
      description: Error (RFC 7807)
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              type: { type: string }
              title: { type: string }
              status: { type: integer }
              detail: { type: string }

  schemas:
    TokenPair:
      type: object
      properties:
        access_token: { type: string }
        refresh_token: { type: string }
        expires_in: { type: integer }

    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        org_id: { type: string, format: uuid }
        department_id: { type: string, format: uuid }
        email: { type: string, format: email }
        name: { type: string }
        role: { type: string, enum: [super_admin, org_admin, manager, content_editor, analyst, learner] }
        status: { type: string, enum: [pending, active, suspended, disabled] }
        department: { type: string }
        locale: { type: string, example: vi }
        phone: { type: string }
        riskScore: { type: integer, minimum: 0, maximum: 100 }
        risk_score:
          type: integer
          minimum: 0
          maximum: 100
          deprecated: true
          description: >-
            The same value as riskScore. UserView carries both spellings, so
            both reach the client; prefer riskScore.

    UserInput:
      type: object
      required: [email, role]
      properties:
        email: { type: string, format: email }
        role: { type: string }
        department_id: { type: string, format: uuid }
        locale: { type: string }

    Group:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        rule_json:
          type: object
          description: Dynamic conditions for the smart group
          example: { risk_score_gte: 70, department: "ke-toan" }
        member_count: { type: integer }

    Course:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenantId: { type: string, format: uuid }
        title: { type: string }
        level: { type: string, enum: [basic, beginner, intermediate, advanced] }
        lang: { type: string, example: vi }
        durationMin: { type: integer }
        lessonCount: { type: integer }
        progress: { type: integer, minimum: 0, maximum: 100 }
        status: { type: string }

    Enrollment:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenantId: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        courseId: { type: string, format: uuid }
        courseTitle: { type: string }
        status: { type: string, enum: [assigned, in_progress, completed, overdue] }
        progress: { type: integer, minimum: 0, maximum: 100 }
        score: { type: integer }
        due_at: { type: string, format: date-time }

    SimTemplate:
      type: object
      properties:
        id: { type: string, format: uuid }
        channel: { type: string, enum: [email, sms, qr, usb, voice, zalo, teams, slack] }
        subject: { type: string }
        body_ref: { type: string }
        body: { type: string }
        body_format: { type: string, enum: [text, html] }
        category: { type: string }
        logo_url: { type: string }
        attachments:
          type: array
          items: { $ref: '#/components/schemas/Attachment' }
        difficulty: { type: string, enum: [easy, medium, hard] }
        status: { type: string, enum: [draft, approved] }

    SimCampaignInput:
      type: object
      required: [channel, templateId]
      properties:
        channel: { type: string, enum: [email, sms, qr, usb, voice, zalo, teams, slack] }
        templateId: { type: string, format: uuid }
        groupId: { type: string, format: uuid }

    SimCampaign:
      allOf:
        - $ref: '#/components/schemas/SimCampaignInput'
        - type: object
          properties:
            id: { type: string, format: uuid }
            org_id: { type: string, format: uuid }
            status: { type: string, enum: [draft, scheduled, running, completed, cancelled] }

    SimEvent:
      type: object
      description: Payload recording one tracked interaction with a campaign.
      required: [campaignId, userId, action]
      properties:
        campaignId: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        action: { type: string, enum: [DELIVERED, OPEN, CLICK, SUBMIT, REPORT] }

    Report:
      type: object
      properties:
        id: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        reporter: { type: string }
        subject: { type: string }
        sender: { type: string }
        payload: { type: string }
        aiLabel: { type: string, enum: [clean, spam, threat] }
        aiConfidence: { type: number, format: float }
        reasoning: { type: string }
        blacklistMatch: { type: boolean }
        status: { type: string, enum: [submitted, triaging, confirmed, quarantined, dismissed] }
        channel: { type: string, enum: [email, sms] }
        reportedAt:
          type: string
          format: date-time
          nullable: true
          description: >
            When the report was submitted. Null on rows written before the
            column existed. ageLabel is derived from this, but a relative label
            cannot be grouped, sorted or plotted — anything charting reports
            over time needs the instant.
        ageLabel: { type: string, description: Human-readable age, e.g. "2 gio truoc" }
    BlacklistEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        type: { type: string, enum: [domain, url, email, ip, phone, hash] }
        value: { type: string }
        source: { type: string, example: NCSC }

    BlacklistEntryInput:
      type: object
      required: [type, value]
      properties:
        type: { type: string, enum: [domain, url, email, ip, phone, hash] }
        value: { type: string }
        source: { type: string, example: NCSC }

    RiskScore:
      type: object
      properties:
        scope: { type: string, enum: [user, dept, org] }
        scope_id: { type: string, format: uuid }
        value: { type: integer, minimum: 0, maximum: 100 }
        computed_at: { type: string, format: date-time }

    Badge:
      type: object
      description: A badge as awarded to a user; BadgeCatalog is the definition.
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }
        iconRef: { type: string }
        earned: { type: boolean }
        awardedAt: { type: string, format: date-time }

    PointsEntry:
      type: object
      properties:
        points: { type: integer }
        reason: { type: string }
        ts: { type: string, format: date-time }

    Assessment:
      type: object
      properties:
        id: { type: string, format: uuid }
        type: { type: string, enum: [knowledge, culture, placement] }
        anonymous: { type: boolean }
        questions_json: { type: object }
        period: { type: string }

    Certificate:
      type: object
      properties:
        id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        course_id: { type: string, format: uuid }
        serial: { type: string }
        pdf_ref: { type: string }
        issued_at: { type: string, format: date-time }

    Notification:
      type: object
      properties:
        id: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        type: { type: string, enum: [reminder, alert, system] }
        channel: { type: string, enum: [in_app, email, sms] }
        status: { type: string, enum: [scheduled, sent, read, failed] }
        title: { type: string }
        body: { type: string }
        scheduledAt: { type: string, format: date-time }

    NotificationInput:
      type: object
      properties:
        user_id: { type: string, format: uuid }
        type: { type: string, enum: [reminder, alert, system] }
        channel: { type: string, enum: [in_app, email, sms] }
        payload: { type: object }
        status: { type: string, enum: [scheduled, sent, read, failed] }
        scheduled_at: { type: string, format: date-time }

    ThreatIntel:
      type: object
      properties:
        id: { type: string, format: uuid }
        source: { type: string, example: NCSC }
        raw_payload: { type: string }
        converted_template_id: { type: string, format: uuid }
        collected_at: { type: string, format: date-time }

    CoachingPage:
      type: object
      properties:
        id: { type: string, format: uuid }
        template_id: { type: string, format: uuid }
        content_ref: { type: string }
        signals_json: { type: object, description: Recognizable warning signs to display }

    CompliancePolicy:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        framework: { type: string, example: ISO27001 }
        dueRule: { type: string, example: "annual" }
        mandatory: { type: boolean }
        completionPct: { type: integer, minimum: 0, maximum: 100 }

    CompliancePolicyInput:
      type: object
      required: [name, framework]
      properties:
        name: { type: string }
        framework: { type: string, example: ISO27001 }
        due_rule: { type: string, example: "annual" }
        mandatory: { type: boolean }
        mapping_json: { type: object }
        course_id: { type: string, format: uuid }

    InterventionDecision:
      type: object
      properties:
        decision: { type: string, enum: [allow, warn, pause, block] }
        signals: { type: array, items: { type: string }, example: [on_call, new_payee, watchlist_hit] }
        message: { type: string, description: Warning/educational content to display }

    InterventionEvent:
      type: object
      properties:
        id: { type: string, format: uuid }
        org_id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        signals: { type: array, items: { type: string } }
        decision: { type: string, enum: [allow, warn, pause, block] }
        ts: { type: string, format: date-time }

    AccountWatchEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        type: { type: string, enum: [bank_account, phone, wallet] }
        value: { type: string }
        risk_level: { type: string, enum: [watch, high, confirmed] }
        source: { type: string, example: SIMO }
        added_at: { type: string, format: date-time }

    Tenant:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenantId: { type: string, format: uuid }
        name: { type: string }
        tier: { type: string, enum: [pool, bridge, silo] }
        dataRegion: { type: string, example: vn }
        status: { type: string, enum: [provisioning, active, suspended, deactivated] }
        userCount: { type: integer }
        domain: { type: string }

    TenantUpdate:
      type: object
      properties:
        name: { type: string }
        tier: { type: string, enum: [pool, bridge, silo] }
        status: { type: string, enum: [provisioning, active, suspended, deactivated] }
        data_region: { type: string, example: vn }

    TenantSettings:
      type: object
      properties:
        tenant_id: { type: string, format: uuid }
        branding: { type: object, description: logo, colors, subdomain }
        policy: { type: object, description: risk thresholds, mandatory training }
        default_locale: { type: string, example: vi }

    FeatureFlag:
      type: object
      properties:
        key: { type: string, example: deepfake_sim }
        enabled: { type: boolean }

    Plan:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string, enum: [edu, business, gov] }
        limits: { type: object, description: seats, emails, ai_calls }
        features: { type: object }

    Subscription:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        plan_id: { type: string, format: uuid }
        status: { type: string, enum: [trial, active, past_due, canceled] }
        renews_at: { type: string, format: date }

    Me:
      type: object
      properties:
        id: { type: string }
        tenantId: { type: string, format: uuid }
        email: { type: string, format: email }
        role: { type: string, enum: [super_admin, org_admin, manager, content_editor, analyst, learner] }
        name: { type: string }
    AuditLogEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        ts: { type: string, format: date-time }
        actor: { type: string }
        action: { type: string }
        target: { type: string }
        ip: { type: string }
        severity: { type: string }
    SimCampaignDetail:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        channel: { type: string }
        status: { type: string }
        templateId: { type: string, format: uuid }
        groupId: { type: string, format: uuid }
        funnel:
          type: object
          properties:
            delivered: { type: integer, format: int64 }
            open: { type: integer, format: int64 }
            click: { type: integer, format: int64 }
            submit: { type: integer, format: int64 }
            report: { type: integer, format: int64 }
        results:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              department: { type: string }
              action: { type: string }
              learningStatus: { type: string }
    Dashboard:
      type: object
      properties:
        risk_score: { type: integer }
        risk_delta: { type: integer }
        phish_prone_pct: { type: number, format: double }
        phish_prone_pct_delta: { type: number, format: double }
        industry_avg_pct: { type: number, format: double }
        training_completion: { type: integer }
        open_alerts:
          type: object
          properties:
            total: { type: integer }
            critical: { type: integer }
            warning: { type: integer }
        risk_trend:
          type: array
          items:
            type: object
            properties:
              date: { type: string }
              value: { type: integer }
        benchmarks:
          type: array
          items:
            type: object
            properties:
              label: { type: string }
              value: { type: number, format: double }
              strong: { type: boolean }
        departments:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              score: { type: integer }
        recent_reports:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              title: { type: string }
              who: { type: string }
              age: { type: string }
              ai_label: { type: string }
    UsageMetering:
      type: object
      properties:
        tenant_id: { type: string, format: uuid }
        metric: { type: string, enum: [email_sent, sms_sent, ai_call, storage] }
        value: { type: integer }
        period: { type: string, example: 2026-06 }

    Attachment:
      type: object
      properties:
        name: { type: string }
        mime: { type: string }

    SimTemplateUpsert:
      type: object
      properties:
        channel: { type: string, enum: [email, sms, qr, usb, voice, zalo, teams, slack] }
        subject: { type: string }
        body: { type: string }
        body_format: { type: string, enum: [text, html] }
        category: { type: string }
        logo_url: { type: string }
        attachments:
          type: array
          items: { $ref: '#/components/schemas/Attachment' }
        difficulty: { type: string, enum: [easy, medium, hard] }
        approved: { type: boolean }

    AidaRun:
      type: object
      properties:
        id: { type: string, format: uuid }
        scope: { type: string }
        scope_id: { type: string, format: uuid }
        status: { type: string }
        summary: { type: string }
        created_at: { type: string, format: date-time }

    Profile:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenantId: { type: string, format: uuid }
        email: { type: string, format: email }
        role: { type: string }
        name: { type: string }
        locale: { type: string, example: vi }

    LessonSummary:
      type: object
      properties:
        id: { type: string, format: uuid }
        courseId: { type: string, format: uuid }
        courseTitle: { type: string }
        title: { type: string }
        durationMin: { type: integer }
        questionCount: { type: integer }

    Lesson:
      type: object
      properties:
        id: { type: string, format: uuid }
        courseId: { type: string, format: uuid }
        title: { type: string }
        body: { type: string }
        exampleTitle: { type: string }
        example: { type: string }
        closing: { type: string }
        durationMin: { type: integer }
        progressPct: { type: integer, minimum: 0, maximum: 100 }
        checkpoints:
          type: array
          items:
            type: object
            properties:
              label: { type: string }
              state: { type: string }

    Quiz:
      type: object
      properties:
        lessonId: { type: string, format: uuid }
        questions:
          type: array
          items:
            type: object
            properties:
              id: { type: string, format: uuid }
              q: { type: string }
              options:
                type: array
                items: { type: string }
              correct: { type: integer, description: Index into options }
              explain: { type: string }

    PointRule:
      type: object
      properties:
        action: { type: string }
        label: { type: string }
        points: { type: integer }

    BadgeCatalog:
      type: object
      description: A badge definition, as distinct from Badge (one awarded to a user).
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }
        iconRef: { type: string }
        criteria_type: { type: string }
        criteria_threshold: { type: integer }

    MemberCount:
      type: object
      properties:
        member_count: { type: integer }

    BusinessThresholds:
      type: object
      properties:
        risk_alert_score: { type: integer, minimum: 0, maximum: 100 }
        pass_score_pct: { type: integer, minimum: 0, maximum: 100 }
        min_campaigns_per_quarter: { type: integer, minimum: 0 }

    ScimConfig:
      type: object
      properties:
        tenantId: { type: string, format: uuid }
        idpName: { type: string }
        connected: { type: boolean }
        idpTenantId: { type: string }
        clientId: { type: string }
        scimEndpoint: { type: string }
        lastSyncAt: { type: string, format: date-time }
        syncedUserCount: { type: integer }
        syncErrorCount: { type: integer }
        syncStatus: { type: string }

    UserReport:
      type: object
      properties:
        id: { type: string, format: uuid }
        payload: { type: string }
        channel: { type: string }
        status: { type: string }
        reportedAt: { type: string, format: date-time }
        ageLabel: { type: string }

    MailDomainCheck:
      type: object
      properties:
        domain: { type: string }
        mx: { $ref: '#/components/schemas/DnsRecordCheck' }
        spf: { $ref: '#/components/schemas/DnsRecordCheck' }
        dmarc: { $ref: '#/components/schemas/DnsRecordCheck' }

    DnsRecordCheck:
      type: object
      properties:
        ok: { type: boolean }
        records:
          type: array
          items: { type: string }
        note: { type: string }

    SmsTestResult:
      type: object
      properties:
        delivered: { type: boolean }
        detail: { type: string }

    SendResult:
      type: object
      properties:
        campaignId: { type: string, format: uuid }
        status: { type: string }
        recipientCount: { type: integer }
        recipients:
          type: array
          items:
            type: object
            properties:
              userId: { type: string, format: uuid }
              token: { type: string, format: uuid }
              trackUrl: { type: string }
